*.venv*
Data/TestFlight_1/Field_1
Data/TestFlight_2
Data/Field_1
*null*
*.jpg
*.pdf
*.tif
runs/*

Orthomosaics
MasterThesisImages.tar.xz
OpenCV/20250827_Bjørnkjærvej_TestFlight_2_mid_RGB_uint8.tif.aux.xml
AI/YOLO/labels
AI/YOLO/dataset.yaml
runs/obb
AI/yolo11n.pt
AI/yolo12n.pt
AI/rtdetr-l.pt
AI/cvat
AI/YOLO/obb.zip
AI/NEN
AI/NEN_sorted
AI/yolo12
AI/NENE_TF2_small
AI/NENE_TF2_small.zip
OpenCV/BV_F2_small.cpg
OpenCV/BV_F2_small.dbf
OpenCV/BV_F2_small.prj
OpenCV/BV_F2_small.shp
OpenCV/BV_F2_small.shx
OpenCV/images
OpenCV/output
OpenCV/*.png
*.tif.aux.xml
*.npy
*.pkl
OpenCV/thresholded_cutouts
AI/test_rotated
OpenCV/bovw
OpenCV/shapefiles
OpenCV/splits
OpenCV/thresholded_cutouts_1
OpenCV/thresholded_cutouts_done
OpenCV/tmp
*.qgz
/OpenCV/output_*
*__pycache__*
/OpenCV/indices_output
/.env
/OpenCV/keep_output_20250827_Bjørnkjærvej_TestFlight_2_small
/OpenCV/report_results
/OpenCV/mahal_output_small
/AI/yolo26s-obb/yolo26s-obb-new2
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_bigger_v2
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_bigger_v2_0001
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_bigger_v2_0002
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_mid
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_mid_0003
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_mid_0004
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_small
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_small_0003
/OpenCV/classifiers/output_20250827_Bjørnkjærvej_TestFlight_2_small_0004
output_*
/OpenCV/gmm_output_7b
/OpenCV/gmm_output_chosen_vi
/OpenCV/gmm_output_indices
/OpenCV/gmm_output_nrn_re
/OpenCV/gmm_output_nrn_rgb
/OpenCV/gmm_output_nrn_rgb_imgs
/OpenCV/gmm_output_rgb
/OpenCV/gmm_output_rgb
/OpenCV/gpm_output_rgb
/OpenCV/gpm_output_rgb_0001
/OpenCV/ifo_output_7b
/OpenCV/ifo_output_chosen_vi
/OpenCV/ifo_output_indices
/OpenCV/ifo_output_nrn_re
/OpenCV/ifo_output_nrn_rgb
/OpenCV/ifo_output_rgb
/OpenCV/iforest_output_7b
/OpenCV/iforest_output_nrn_rgb
/OpenCV/iforest_output_rg_vi
/OpenCV/mahal_output_INDICES_v4
/OpenCV/mahal_output_INDICES_v5
/OpenCV/mahal_output_INDICES_v5_0001
/OpenCV/mahal_output_INDICES_v5_0002
/OpenCV/mahal_output_INDICES_v5_0003
/OpenCV/mahal_output_INDICES_v5_0004
/OpenCV/mahal_output_INDICES_v5_0005
/OpenCV/mahal_output_INDICES_v5_0006
/OpenCV/mahal_output_INDICES_v5_0007
/OpenCV/svm_output_7b
/OpenCV/svm_output_chosen_vi
/OpenCV/svm_output_indices
/OpenCV/svm_output_nrn_re
/OpenCV/svm_output_nrn_rgb
/OpenCV/svm_output_rgb
/OpenCV/svm_output_rgb_bigger
