*.venv*
Data/TestFlight_1/Field_1
Data/TestFlight_2
Data/Field_1
*null*
*.jpg
*.pdf
*.tif

Orthomosaics
MasterThesisImages.tar.xz
OpenCV/20250827_Bjørnkjærvej_TestFlight_2_mid_RGB_uint8.tif.aux.xml
OpenCV/__pycache__
AI/YOLO/labels
AI/YOLO/dataset.yaml
runs/obb
AI/yolo11n.pt
AI/cvat
AI/YOLO/obb.zip
Data/indices.qgz
AI/NEN
AI/NEN_sorted
