*.venv*
Data/TestFlight_1/Field_1
Data/TestFlight_2
Data/Field_1
*null*
*.jpg
*.pdf
*.tif

Orthomosaics
MasterThesisImages.tar.xz
OpenCV/20250827_Bjørnkjærvej_TestFlight_2_mid_RGB_uint8.tif.aux.xml
OpenCV/__pycache__
AI/YOLO/labels
AI/YOLO/dataset.yaml
runs/obb
AI/yolo11n.pt
AI/cvat
AI/YOLO/obb.zip
Data/indices.qgz
AI/NEN
AI/NEN_sorted
AI/yolo12
AI/__pycache__
AI/NENE_TF2_small
AI/NENE_TF2_small.zip
OpenCV/BV_F2_small.cpg
OpenCV/BV_F2_small.dbf
OpenCV/BV_F2_small.prj
OpenCV/BV_F2_small.shp
OpenCV/BV_F2_small.shx
